# ReCode local database
.recode
node_modules
.env
dist
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
.Python

.vscode
.idea
future.txt

DEPLOY-ALIYUN.md
.env.production
deploy/aliyun/deploy.env

GITHUB-ACTIONS-DEPLOY.md
DEPLOY-SERVER-GIT.md
migrations