.home {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 8px 8px 8px;
}

.title {
    font-weight: 600;
}

.subtitle {
    color: #86909c;
    font-size: 14px;
}

.actions {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 16px;
}

.card {
    background: var(--color-bg-white);
}

.hover-underline {
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}

.custom-action-btn {
    :global(.arco-btn-size-small) {
        padding: 0 8px !important;
    }
}
